<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript">
        var stompClient = null;
        function send() {
            stompClient.send("/app/upInfo", {}, JSON.stringify({
                "id": $("#id").val(),
                "name": $("#user").text(),
                "context": $("#context").val()
            }));
        }

        function showInfo(infodto) {
            $("#contexts").append("<tr><td>" + infodto.name + ':' + infodto.context + "</td></tr>");
        }

        $(document).ready(function () {
            $("#userid").hidden;
            var id=$("#userid").text();
            var socket = new SockJS('/gs-guide-websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/user/'+id+'/topic/chatroom', function (message) {

                    console.log(message+"dasd");
                    showInfo(JSON.parse(message.body));
                })
            });
            $("#send").click(function () {
                send();
            });
        });
    </script>
</head>
<body>

<div>
    <div>
        用户：
        <div id="user" th:text="${session.name}">


        </div>
        <div id="userid" th:text="${session.id}" ></div>
        </d>
        <input id="context">
        <input id="id">
        <button id="send">发送消息</button>
        <table id="conversation">
            <thead>
            <tr>
                <th>消息</th>
            </tr>
            </thead>
            <tbody id="contexts">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>