<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function(){

            $("#send").click(function () {
                var id=$("#uid").val();
                var password=$("#password").val();
                if(id == null || id == "" || id == "undefined" || id == undefined || id == "null"||
                    password == null || password == "" || password == "undefined" || password== undefined || password == "null"){
                    alert("请输入密码或用户名");
                    return ;
                }

                var userdto={
                        id:id,
                            password:password};
                $.ajax(
                    {
                        url:"/login",
                        type:"post",
                        dataType : "JSON",
                        contentType:"application/json",
                        data:JSON.stringify(userdto),
                        success:function(result){
                            if (result==0){
                                alert("登陆成功");

                                window.location.href="/index";
                            }
                            if(result==1){

                                alert("用户名或密码错误");
                            }


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('XMLHttpRequest:');
                            console.log(XMLHttpRequest);
                            alert('网络异常！尝试刷新网页解决问题')
                        },
                    }
                )

            });
        });

    </script>
</head>
<body>


<div>
<div>

    id<input type="text" id="uid">
    密码<input type="password" id="password">
    <button type="submit" id="send">登录</button>
</div>
</div>
</body>
</html>